@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.app-heading {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.button {
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  background-color: #685d76;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

[popover] {
  font-size: 20px;
  background: #685d76;
  color: white;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  max-width: 20ch;
  line-height: 1.4;
  top: 2rem;
  margin: 0 auto;
}

/*   IS-OPEN STATE   */
[popover]:popover-open {
  translate: 0 0;
}

/*   EXIT STATE   */
[popover] {
  transition: translate 0.7s ease-out, display 0.7s ease-out allow-discrete;
  translate: 0 -22rem;
}

[popover]:popover-open::backdrop {
  background-color: rgba(0, 0, 0, 0.2); /* semi-transparent black */
  backdrop-filter: blur(2px); /* blur effect */
}

/*   0. BEFORE-OPEN STATE   */
@starting-style {
  [popover]:popover-open {
    translate: 0 -22rem;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}

.last-updated {
  font-size: 14px;
  color: #fff;
}

.app {
  padding: 30px;
  background-color: #433555;
}

.fixtures {
  font-size: 20px;
  color: white;
}

.fixtures p {
  font-size: 16px;
}

.fixtures-sup {
  font-size: 8px;
}
